
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-file"></i>
            Listar Facturas de PETROPERÚ
        </div>
        <div class="card-body">
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Facturas
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>DirPol</th>
                                    <th>Fecha</th>
                                    <th>Codigo</th>
                                    <th>Galones</th>
                                    <th>Octanaje</th>
                                    <th>Planta</th>
                                    <th>Importe</th>
                                    <th>SCOP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>REGPOL LIMA</td>
                                    <td>17/04/2017</td>
                                    <td>FE66-00078754</td>
                                    <td>2000</td>
                                    <td>GASOHOL SP 97</td>
                                    <td>CALLAO</td>
                                    <td>21198,6</td>
                                    <td>11363303855</td>
                                </tr>
                                <tr>
                                    <td>REGPOL LIMA</td>
                                    <td>14/04/2017</td>
                                    <td>FE66-00078821</td>
                                    <td>600</td>
                                    <td>GASOHOL SP 95</td>
                                    <td>CALLAO</td>
                                    <td>6359,58</td>
                                    <td>11363770393</td>
                                </tr>
                                <tr>
                                    <td>REGPOL LIMA</td>
                                    <td>13/04/2017</td>
                                    <td>FE66-00078822</td>
                                    <td>1500</td>
                                    <td>GASOHOL SP 90</td>
                                    <td>CALLAO</td>
                                    <td>15898,95</td>
                                    <td>11363448980</td>
                                </tr>
                                <tr>
                                    <td>REGPOL PUNO</td>
                                    <td>17/04/2017</td>
                                    <td>FE66-00078853</td>
                                    <td>250</td>
                                    <td>DIESEL B5 S-50</td>
                                    <td>CALLAO</td>
                                    <td>2243,67</td>
                                    <td>11363301921</td>
                                </tr>
                                <tr>
                                    <td>REGPOL TUMBES</td>
                                    <td>20/04/2017</td>
                                    <td>FE04-00043874</td>
                                    <td>1619</td>
                                    <td>GASOHOL 95 PE</td>
                                    <td>TALARA</td>
                                    <td>17004,26</td>
                                    <td>11365111758</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 5:00 PM</div>
    </div>
</div>