
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-file"></i>
            Subir Facturas de PETROPERÚ
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col align-content-start">

                        @using (Html.BeginForm("Facturas_Subir", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Subir paquete de Facturas en Formato ZIP</label>
                                @Html.TextBox("file", "", new { type = "file" }) <br />
                            </div>
                                <input class="btn btn-secondary btn-block" type="submit" value="Subir" />
                                @ViewBag.Message
                        }

                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                    
                <div class="row">
                    <div class="col align-content-start">
                        <a class="d-block small mt-3">@ViewBag.Response</a>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                
            </div>
        </div>
    </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 5:00 PM</div>
</div>
