
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-truck"></i>
            Listar Órdenes de Pedido
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 5:00 PM</div>
    </div>
</div>