
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-briefcase"></i>
            Resumen
        </div>
        <div class="card-body">
            <h1>Bienvenido @ViewBag.nombre</h1>
        </div>
        <div class="card-footer small text-muted">Actualizado ayer a las 5:00 PM</div>
    </div>
</div>